body {
    margin: 0;
    max-width: 568px;
    min-width: 320px;
    height: 100vh;
}

.madeira {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-position: center center;
}

.celular {
    position: absolute;
    height: 500px;
    margin-top: 10px;
}

