* {
    margin: 0px;
    padding: 0px;
}
img {
    width: 100vw;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

a {
    display: block;
    background-color: darkred;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    border-radius: px;
}

a:hover {
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 10px;
    transition: border-radius 2s;
}